*{
    margin: 0 ;
    padding: 0 ;
    
}

body{
    background-color: rgb(253, 221, 249);
}

.title{
        margin-left: 1.15rem;
    }
    
/* divisor */    
.divider{
    background-color: rgb(210, 236, 210);
    height: 1.8px;
}

/* Nav-Bar */


nav{
    height: 4.5rem;
    background-color: rgb(241, 186, 248);
    box-shadow:5px 10px 18px rgb(239, 49, 138);
}

.logo{
    height: 7.5rem;
    width: 9.625rem;
    margin-left: 45% ;
    margin-top: 1.5rem;
}




/* Home */

#home{
    height: 30.5rem;
    margin-top: 4.5rem ;
}


.flex{
    margin-top: 2.5rem ;
    margin-left: 10%;
    display: flex;
    gap: 200px;
}

span.love{
    color:darkorchid;
} 

.img{
    margin-left: -2.75rem;

}

img.img{
    height: 21.75rem ;
    border-radius: 2.25rem;
}

.flex div.texto p{
    margin-top: 7.875rem;
    height: 16.875rem;
    width: 21.25rem;
    font-size: 1.125rem;
    font-style: oblique;
}


/* Donation */

#donation{
    height: 327px;
}

#donation p{
    margin-left: 1rem;
    margin: 2.3rem;
}

#donation ul li{
    display: inline;
}

#donation li{
    margin-left: 12rem ;
}


/* Loja */

.loja{
    height: 164px;
    text-align: center;
}

.loja p{
    margin: 3.4rem 0;
}

.loja a{
    text-decoration-line: none;
    background-color: rgb(231, 161, 223);
    padding: 14px 34px;
}

.loja a:hover{
    background-color: rgb(158, 232, 251);
    color: rgb(231, 161, 223);
}

.loja img{
    height: 32px;
    width: 32px;
}